:root {
  --side-padding: 20px;
  --primary-color: #9393db
}

.app {
    height: 100%;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
    position: relative;
}

a:link, a:visited {
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
}

ul {
    list-style-type: none;
}


